body,html{
    padding: 0;
    margin: 0;
}
.content{
    width: 250px;
    margin: 0 auto;
}
.content div{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 3px;
}
.button{
    width: 100px;
    margin: 0 auto;
}
.mask{
    display: block;
    width: 50px;
    height: 50px;
    background: white;
    z-index: 1;
}